* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.scroll_page {
    height: 100vh;
    background-color: rgb(19, 66, 66);
    scroll-snap-align: start;
}

.pages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: center;
    transform: scale(1);
}

.bgr {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.frame {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    background-color: rgb(23, 88, 88);
    opacity: 0.9;
}

.frame .vertical {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.frame .horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.frame .right, .frame .left {
    min-width: 8vh;
    height: 100%;
    background-image: url("./media/frame_vertical.png");
    background-size: 100% 100%;
}

.frame .top, .frame .bottom {
    width: 100%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
}

.frame .middle {
    width: 100%;
    height: 100%;
    background-image: url("./media/frame_middle.png");
    background-size: 100% 100%;
}

.frame .c_top_left, .frame .c_bottom_right {
    min-width: 8vh;
    height: 100%;
    background-image: url("./media/frame_corner_1.png");
    background-size: 100% 100%;
}

.frame .c_top_right, .frame .c_bottom_left {
    min-width: 8vh;
    height: 100%;
    background-image: url("./media/frame_corner_2.png");
    background-size: 100% 100%;
}

.content {
    padding: 20px;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 16vh);
    height: 100%;
    opacity: 0.9;
}

.content p {
    max-width: 100%;
    white-space: wrap;
    text-align: center;
}

#page0 {
    /*background-color: red;*/
    z-index: 20;
}

#page1 {
    /*background-color: green;*/
    z-index: 19;
}

#page2 {
    /*background-color: blue;*/
    z-index: 18;
}

#page3 {
    /*background-color: yellow;*/
    z-index: 17;
}

#page4 {
    /*background-color: white;*/
    z-index: 16;
}

#page5 {
    /*background-color: white;*/
    z-index: 15;
}

#page6 {
    /*background-color: white;*/
    z-index: 14;
}

#page7 {
    /*background-color: white;*/
    z-index: 13;
}

#page8 {
    /*background-color: white;*/
    z-index: 12;
}